body {
  padding-top: 50px;
  font-family: Sans-Serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-right {
  float: right;
}
.logo-align {
  display: -webkit-inline-box !important;
  width: 10%;
  height: 100%;
  margin-right: 1rem;
}
